/* General styles for the page */
.counter-page { /* Estilos solo aplicados a /counter */
  font-family: 'Arial', sans-serif;
  background-color: #fef6e4; /* Light pastel background */
  color: #272343; /* Dark pastel text */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative; /* To contain absolutely positioned button */
}

.counter-page .container { /* Estilo para la sección del contador */
  text-align: center;
}

.counter-page .title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.counter-page .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.counter-page .btn {
  font-size: 2rem;
  padding: 10px 20px;
  background-color: #e3f6f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.counter-page .btn:hover {
  background-color: #bae8e8;
}

.counter-page #count {
  font-size: 2rem;
  font-weight: bold;
  width: 60px;
  text-align: center;
  color: #272343; /* Dark pastel text */
}

/* Responsive layout for mobile */
@media (max-width: 600px) {
  .counter-page .title {
    font-size: 1.8rem;
  }

  .counter-page .btn {
    font-size: 1.5rem;
  }

  .counter-page #count {
    font-size: 1.8rem;
  }
}

/* Theme Toggle Button */
.counter-page .theme-toggle-btn {
  position: fixed; /* Fixed position to stay in the top-right corner */
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffb3b3; /* Light pastel color */
  transition: color 0.3s ease;
  z-index: 100; /* Ensure the button is on top of other elements */
}

@media (max-width: 400px) {
  .counter-page .theme-toggle-btn {
    font-size: 20px;
    top: 10px;
    right: 10px;
  }
}

/* Day theme (default) */
.counter-page body {
  background-color: #fef6e4; /* Light pastel background */
  color: #272343; /* Dark pastel text */
}

.counter-page #count {
  color: #ffb3b3; /* Pastel pink */
}

.counter-page .theme-toggle-btn.day {
  color: #ffb3b3; /* Light pastel pink */
}

/* Night theme */
.counter-page body.night {
  background-color: #2c3e50; /* Dark background */
  color: #ecf0f1; /* Light pastel text */
}

.counter-page #count.night {
  color: #f39c12; /* Pastel yellow */
}

.counter-page .theme-toggle-btn.night {
  color: #f39c12; /* Light pastel yellow */
}
